


body
{
    font-size: 1em;
    /* Les polices courantes : Arial ; Arial Black ; Courier New ; Georgia ; Times New Roman ; Trebuchet MS ; Verdana.*/
    font-family: sans-serif, Verdana, Arial, "Arial Black", sans-serif;
    font-style: normal; /* ou italic ou oblique */
    font-weight: normal; /* ou bold */
    text-decoration: none; /* ou blink ou underline ou line-through ou overline */
    text-align: left; /* ou center ou right ou justify */
    color: black;
    background-color: silver;
    overflow: auto;
}
h1
{
    background-color: teal;
    font-size: 2em;
    color: white;
}
#fac
{
    background-color: black;
    margin: auto;
}
#logo_fac
{
    width:75%; /* Largeur*/
    min-width: 200px;
    max-width: 600px;
    height: auto; /* Hauteur */
    /*max-height: 30%;
    border-bottom: 3px blue groove;*/
    margin: auto; /* margin: 2px 0 3px 1px; == « 2 px en haut, 0 px à droite, 3 px en bas, 1 px à gauche » */
}
#user
{
    background-color: white;
    width: 100%;
    height: 250px
}
#user_add
{
    width: auto; /* Largeur*/
    height: 50px; /* Hauteur */
}
#user_icon
{
    width:50px; /* Largeur*/
    height: auto; /* Hauteur */
}
#user_sign
{
    width:50px; /* Largeur*/
    height: auto; /* Hauteur */
}
.right
{
    align-self: flex-end;
}
.input
{
    width: 75%
}

section
{
    /*border: 3px blue double;
    overflow: auto;*/
}
aside
{
    /*border: 3px blue dotted;
    overflow: auto;*/
    display: flex;
    justify-content: flex-end;
}
article
{
    /*
    border: 3px blue dashed;
    overflow: auto;*/
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
div
{
    /*border: 3px blue solid;*/
}
input
{
    width: 75%;
}

















